
/*

*/

.liga {
	color : blue;
	text-align:center;
	font-size:16px;
	font-weight:bold;
}

.divGame {
	text-align:center;
}

.tdTeam {
	color : red;
	font-size:12px;
	font-weight:bold;
}

.tdScore {
	color : black;
	font-size:12px;
	font-weight:bold;
	white-space:nowrap;
}

.tdCondition {
	color : green;
	font-size:8px;
	vertical-align: bottom;
}
